.App {
  max-width: 800px;
  margin: 30px auto;
  padding-top: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to top,
    #a4d0d9 10%,
    white 30%,
    #b9d3d8 100%
  );
}
.App footer {
  font-size: 12px;
  margin: 5px 0;
  padding-bottom: 5px;
}
